h1{

text-align: center;
background-color: green;
border: 5px solid black;
}

#container{

width: 690px;
margin: 0px auto;

}



.box{

width: 200px;
height: 200px;
border: 5px solid black;
background-color: red;
float: left;
margin: 10px;


}

.yellowbox{

background-color: yellow;


}


.greenbox{

 background-color: green;

}